server:
  port: 8081

spring:
  application:
    name: workload-service

  data:
    mongodb:
      uri: ${MONGODB_URI:mongodb://localhost:27017/trainer_workload}
      auto-index-creation: true

  datasource:
    url: jdbc:h2:mem:trainer_workload_microservice_db;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    username: sa
    password:
    driver-class-name: org.h2.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: false
    properties:
      hibernate:
        format_sql: false
        use_sql_comments: false
        generate_statistics: false
    open-in-view: false

  activemq:
    broker-url: ${SPRING_ACTIVEMQ_BROKER_URL:tcp://localhost:61616}
    user: ${SPRING_ACTIVEMQ_USER:admin}
    password: ${SPRING_ACTIVEMQ_PASSWORD:admin}
    packages:
      trust-all: true

springdoc:
  api-docs:
    path: /api-docs
    enabled: true
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
    operationsSorter: method
    tagsSorter: alpha
  show-actuator: false

app:
  jms:
    queue:
      workload: workload.queue
      workload-dlq: workload.dlq

logging:
  level:
    org.springframework: INFO
    com.github.amangusss: DEBUG
    org.hibernate.SQL: DEBUG

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION:86400000}